[submodule "dep/progdoc"]
	path = dep/progdoc
	url = https://github.com/Chanyon/progdoc/tree/fix-change-dev
[submodule "dep/zap"]
	path = dep/zap
	url = https://github.com/zigzap/zap.git
[submodule "dep/yazap"]
	path = dep/yazap
	url = https://github.com/PrajwalCH/yazap.git
[submodule "dep/zig-string"]
	path = dep/zig-string
	url = https://github.com/JakubSzark/zig-string.git
[submodule "dep/zig-toml"]
	path = dep/zig-toml
	url = https://github.com/sam701/zig-toml.git
